/*!
Theme Name:  Page Design Group 2017
Author: Page Design Group
Author URI: http://pagedesigngroup.com
Description: Page Design Group + Wordpress = Eternal Happiness
Version: 1.0
*/
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

*, :after, :before {
    box-sizing: border-box
}

body {
    background: #fff
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    text-align: left
}

blockquote:after, blockquote:before, q:after, q:before {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

a img {
    border: 0
}

body, button, input, select, textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5
}

p {
    margin-bottom: 1.5em
}

b, strong {
    font-weight: 700
}

cite, dfn, em, i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: Courier\ 10 Pitch, Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code, kbd, tt, var {
    font: 15px Monaco, Consolas, Andale Mono, DejaVu Sans Mono, monospace
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins, mark {
    background: #fff9c0;
    text-decoration: none
}

sub, sup {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    bottom: 1ex
}

sub {
    top: .5ex
}

small {
    font-size: 75%
}

big {
    font-size: 125%
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ol, ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li > ol, li > ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

figure {
    margin: 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th {
    font-weight: 700
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0
}

button, input[type=button], input[type=reset], input[type=submit] {
    border: 1px solid #ccc;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .5), inset 0 15px 17px hsla(0, 0%, 100%, .5), inset 0 -5px 12px rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-appearance: button;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .8)
}

button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .8), inset 0 15px 17px hsla(0, 0%, 100%, .8), inset 0 -5px 12px rgba(0, 0, 0, .02)
}

button:active, button:focus, input[type=button]:active, input[type=button]:focus, input[type=reset]:active, input[type=reset]:focus, input[type=submit]:active, input[type=submit]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .5), inset 0 2px 5px rgba(0, 0, 0, .15)
}

input[type=checkbox], input[type=radio] {
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px
}

input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus {
    color: #111
}

input[type=email], input[type=password], input[type=search], input[type=text], input[type=url] {
    padding: 3px
}

textarea {
    overflow: auto;
    padding-left: 3px;
    vertical-align: top;
    width: 98%
}

a {
    color: #4169e1
}

a:visited {
    color: purple
}

a:active, a:focus, a:hover {
    color: #191970
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation li {
    float: left;
    position: relative
}

.main-navigation a {
    display: block;
    text-decoration: none
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 1.5em;
    z-index: 9
}

.main-navigation ul ul ul {
    left: 100%;
    top: 0
}

.main-navigation ul ul a {
    width: 200px
}

.main-navigation ul li:hover > ul {
    display: block
}

.menu-toggle {
    cursor: pointer;
    display: none
}

.site-main [class*=navigation] {
    margin: 0 0 1.5em;
    overflow: hidden
}

[class*=navigation] .nav-previous {
    float: left;
    width: 50%
}

[class*=navigation] .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}

.screen-reader-text:active, .screen-reader-text:focus, .screen-reader-text:hover {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 10
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 20px
}

.alignright {
    display: inline;
    float: right;
    margin-left: 20px
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto
}

.clear:after, .clear:before, .comment-content:after, .comment-content:before, .entry-content:after, .entry-content:before, .site-content:after, .site-content:before, .site-footer:after, .site-footer:before, .site-header:after, .site-header:before {
    content: "";
    display: table
}

.clear:after, .comment-content:after, .entry-content:after, .site-content:after, .site-footer:after, .site-header:after {
    clear: both
}

.widget {
    margin: 0 0 1.5em
}

.widget select {
    max-width: 100%
}

.widget_search .search-submit {
    display: none
}

.hentry {
    margin: 0 0 1.5em
}

.byline, .updated {
    display: none
}

.group-blog .byline, .single .byline {
    display: inline
}

.entry-content, .entry-summary, .page-content {
    margin: 1.5em 0 0
}

.page-links {
    clear: both;
    margin: 0 0 1.5em
}

.archive .format-aside .entry-title, .blog .format-aside .entry-title {
    display: none
}

.comment-content a {
    word-wrap: break-word
}

.infinite-scroll.neverending .site-footer, .infinite-scroll .paging-navigation {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}

.comment-content img.wp-smiley, .entry-content img.wp-smiley, .page-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
    max-width: 100%
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%
}

.wp-caption-text {
    text-align: center
}

.wp-caption .wp-caption-text {
    margin: .8075em 0
}

.site-main .gallery {
    margin-bottom: 1.5em
}

.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%
}

.site-main .gallery dd {
    margin: 0
}

embed, iframe, object {
    max-width: 100%
}

body {
    width: 100%;
    *zoom: 1
}

body:after, body:before {
    content: "";
    display: table
}

body:after {
    clear: both
}

.hide {
    display: none
}

.hidden {
    opacity: 0
}

.leader {
    font-size: 14px;
    font-size: 1.4rem;
    color: #2f2a25;
    padding-bottom: 4px;
    border-bottom: 1px solid #e46d37;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2rem;
    display: inline-block;
    margin-bottom: 10px
}

.headline {
    font-family: chaparral-pro-display, Georgia, serif;
    color: #e46d37;
    text-transform: none;
    font-weight: 300;
    line-height: 1.1;
    border-bottom: none;
    letter-spacing: 0;
    display: block
}

a:link, a:visited {
    color: #249ea2;
    text-decoration: none
}

a:active, a:focus, a:hover {
    color: #e46d37
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    background-color: #fff;
    color: #49433c
}

.container {
    width: 90%;
    position: relative
}

#page, .container {
    margin: 0 auto
}

img {
    max-width: 100%
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.tmb-left {
    float: left;
    margin-right: 20px
}

.embed-responsive {
    border: 10px solid #edece8;
    background-color: #edece8;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.embed-responsive embed, .embed-responsive iframe, .embed-responsive object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.embed-responsive embed, .embed-responsive iframe, .embed-responsive img, .embed-responsive object {
    max-width: 100%
}

.loading {
    background-color: #e46d37;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 7;
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    -webkit-transition: all .4s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .4s cubic-bezier(.18, .89, .32, 1.28);
    overflow: hidden
}

.loading.active {
    width: 100%
}

.loading.loadclose {
    width: 0;
    left: 0;
    right: auto
}

.loading .loading-text {
    margin: auto;
    color: #fff;
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 4rem;
    text-align: center
}

h1 {
    font-size: 14px;
    font-size: 1.4rem;
    color: #2f2a25;
    padding-bottom: 4px;
    border-bottom: 1px solid #e46d37;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2rem;
    display: inline-block;
    margin-bottom: 10px
}

h1.teal {
    border-bottom: 1px solid #249ea2
}

h2 {
    font-family: chaparral-pro-display, Georgia, serif;
    text-transform: none;
    font-weight: 300;
    line-height: 1.1;
    border-bottom: none;
    letter-spacing: 0;
    display: block;
    color: #e46d37;
    font-size: 32px;
    font-size: 3.2rem
}

h3 {
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase
}

h4 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700
}

p {
    font-size: 1.4rem
}

p.introduction {
    color: #998c7e;
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 2.4rem
}

pre {
    background-color: #fff;
    color: #249ea2
}

.button, a.button, input[type=button], input[type=submit] {
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid #e46d37;
    color: #2f2a25;
    background: none;
    padding: 8px 10px;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.button:focus, .button:hover, a.button:focus, a.button:hover, input[type=button]:focus, input[type=button]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #fff;
    background-color: #e46d37;
    border-color: none;
    box-shadow: none
}

.button.large, a.button.large, input[type=button].large, input[type=submit].large {
    font-size: 20px;
    font-size: 2rem
}

.button .icon, a.button .icon, input[type=button] .icon, input[type=submit] .icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin: -3px -5px -1px
}

.button.reverse, a.button.reverse, input[type=button].reverse, input[type=submit].reverse {
    color: #fff
}

.button.orange, a.button.orange, input[type=button].orange, input[type=submit].orange {
    border: 1px solid #e46d37
}

.button.orange:hover, a.button.orange:hover, input[type=button].orange:hover, input[type=submit].orange:hover {
    color: #fff;
    background-color: #e46d37
}

.button.teal, a.button.teal, input[type=button].teal, input[type=submit].teal {
    border: 1px solid #249ea2
}

.button.teal:hover, a.button.teal:hover, input[type=button].teal:hover, input[type=submit].teal:hover {
    color: #fff;
    background-color: #249ea2
}

.button.white, a.button.white, input[type=button].white, input[type=submit].white {
    color: #998c7e;
    border: 1px solid #998c7e
}

.button.white:hover, a.button.white:hover, input[type=button].white:hover, input[type=submit].white:hover {
    color: #fff;
    background-color: #998c7e
}

#masthead, figure {
    background-color: #fff
}

#masthead {
    position: relative;
    z-index: 8
}

.site-title {
    margin: 10px 16px 0;
    display: block
}

#main-nav {
    margin: 0
}

#main-nav li {
    font-size: 1.8rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

#main-nav li a {
    display: block;
    color: #998c7e;
    text-decoration: none
}

#main-nav li.current-menu-item a {
    border-bottom-color: #e46d37
}

#menu-toggle {
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #e46d37;
    position: absolute;
    left: 0;
    top: 0
}

#menu-toggle svg {
    margin: 10px
}

.no-svg #menu-toggle {

}

.page-intro {
    background-color: #2f2a25;
    background-image: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, .01) 50%, #000 150%);
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, .01) 50%, #000 150%);
    text-align: center;
    padding: 20px 0
}

.page-intro h1 {
    color: #edece8;
    display: inline-block;
    width: auto;
    margin: 20px auto;
    line-height: 1
}

.page-intro h2 {
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 4rem;
    color: #edece8;
    margin-bottom: 40px;
    line-height: 1;
    padding: 0 2%
}

.page-intro p {
    font-size: 1.3rem;
    color: #edece8;
    margin: 10px 20px;
    text-align: left
}

.story-list {
    background-color: #49433c;
    *zoom: 1
}

.story-list:after, .story-list:before {
    content: "";
    display: table
}

.story-list:after {
    clear: both
}

.other-stories {
    padding: 20px 0
}

.story-excerpt {
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
    text-align: center
}

.story-excerpt img {
    width: 100%;
    display: block
}

.story-excerpt img.client-logo {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block
}

.story-excerpt a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 42, 37, .8);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.story-excerpt a h2 {
    font-size: 10px;
    font-size: 1rem;
    visibility: hidden;
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 50px;
    border-bottom: none
}

.story-excerpt a:hover {
    background-color: rgba(36, 158, 162, .8)
}

.story-excerpt a:hover h2 {
    visibility: visible
}

img.hero {
    display: block;
    width: 100%
}

.hero {
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    background-color: #2f2a25
}

.hero-text {
    width: 96%;
    padding: 10px 20px;
    text-align: left
}

.hero-text img.client-logo {
    width: 180px;
    margin: 80px 0 30px;
    position: absolute
}

.hero-text p {
    font-size: 1.3rem
}

.hero-text h2, .hero-text p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6)
}

.hero-text h2 {
    font-size: 3.2rem;
    margin-top: 80%
}

.single-story h1 {
    font-size: 50px;
    font-size: 5rem
}

.single-story h2.more-projects {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #2f2a25;
    padding-bottom: 4px;
    border-bottom: 1px solid #e46d37;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2rem;
    display: inline-block;
    margin-bottom: 10px
}

.intro {
    padding: 40px 0
}

.featured-project {
    padding: 40px 0;
    clear: both;
    *zoom: 1
}

.featured-project:after, .featured-project:before {
    content: "";
    display: table
}

.featured-project:after {
    clear: both
}

.featured-project h2 {
    color: #fff
}

.pullquote {
    background-color: #249ea2;
    text-align: right;
    padding: 40px;
    color: #fff
}

.pullquote p {
    font-size: 1.75rem
}

.pullquote blockquote {
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
    font-weight: 100;
    text-align: left;
    padding-bottom: 1em
}

.image-tabs {
    text-align: center
}

.client-projects {
    padding-top: 30px
}

.client-projects .photo-tabber .photo-frame {
    border-bottom: 1px solid #edece8;
    margin-bottom: 40px
}

.client-projects .photo-tabber ul {
    border-top: none
}

.other-stories {
    background-color: #49433c;
    color: #c2bab2;
    padding: 0;
    text-align: center
}

.other-stories article.tile {
    width: 20%;
    display: inline-block;
    background-color: none;
    opacity: .3;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vw
}

.other-stories article.tile:hover {
    opacity: 1
}

.other-stories article.tile img {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block
}

#california-rice-commission-story .single-story .page-title {
    top: 10%
}

#california-rice-commission-story .intro {
    background-color: #f8f0e8;
    padding: 7% 0
}

#california-rice-commission-story .featured-project {
    /*background: url(../../_images/story-crc-desc-bg.jpg) 0 0;*/
    padding: 6% 0
}

#california-rice-commission-story .pullquote {
    background-color: #093c44;
    /*background: url(../../_images/bluelinen-background.jpg);*/
    padding: 5% 0
}

#california-rice-commission-story .feat-image {
    float: right
}

#california-rice-commission-story .feat-desc {
    color: #f8f0e5;
    padding-top: 6%
}

#california-rice-commission-story .intro-img img {
    max-width: 80%;
    margin: 0 auto
}

#california-rice-commission-story .pullquote blockquote, #california-rice-commission-story .pullquote p {
    color: #f8f0e6
}

#california-rice-commission-story #photo-frame {
    border-bottom: 2px solid #e7cfac
}

#red-rover-story .hero {
    background-color: #a1a92f
}

#red-rover-story .featured-project {
    /*background: #93083e url(../../_images/red-rover-squiggle-bg.svg) repeat-x 0;*/
    background-size: cover;
    color: #fff;
    overflow: hidden
}

#red-rover-story .pullquote {
    background-color: #4db5be;
    color: #fff
}

#smud-story .hero:after {
    content: " ";
    display: block;
    width: 100%;
    padding-top: 14%;
    /*background: url(../../_images/smud-story-border.svg) no-repeat top;*/
    background-size: 100%
}

#smud-story .hero-text p {
    color: #fff
}

#smud-story p {
    color: #6d605d
}

#smud-story .intro .story {
    float: right
}

#smud-story .featured-project .feat-desc h2, #smud-story .intro .story h2 {
    color: #f16321
}

#smud-story .pullquote {
    background: transparent;
    clear: both;
    /*background: url(../../_images/smud-featured-work-border.png) top repeat-x*/
}

#smud-story .pullquote .content {
    border-radius: 36px 36px 36px 36px;
    background: #c0b6ae;
    padding: 2em 4em;
    position: relative;
    width: 92%;
    margin-left: 4%;
    margin-top: 4em
}

#smud-story .pullquote .content:after {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    border-radius: 46px;
    border: 5px solid #c1b7af;
    border-offset: 20px;
    border-spacing: 20px
}

#smud-story .pullquote .content p {
    color: #fff
}

#uc-davis-integrative-medicine-story .hero {
    background-color: #004f88
}

#uc-davis-integrative-medicine-story .hero-text img.client-logo {
    width: 240px;
    padding-bottom: 10px;
    border-bottom: 2px solid #004f88
}

#uc-davis-integrative-medicine-story .featured-project {
    /*background: #00509d url(../../_images/ucdim/ucdim-story-section2.png) 0 0;*/
    background-size: cover;
    color: #fff
}

#uc-davis-integrative-medicine-story .featured-project .feat-image {
    float: right
}

#uc-davis-integrative-medicine-story .pullquote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    /*background: #00509d url(../../_images/ucdim/ucdim-story-section.png) top;*/
    background-size: cover;
    padding: 40px 0
}

#uc-davis-integrative-medicine-story .pullquote .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 100%;
    margin: 0
}

#uc-davis-integrative-medicine-story .pullquote .left {
    display: inline;
    float: left;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px solid #fff
}

#uc-davis-integrative-medicine-story .pullquote .left h3 {
    font-size: 4em;
    text-transform: uppercase
}

#uc-davis-integrative-medicine-story .pullquote .left p {
    font-size: 2em
}

#uc-davis-integrative-medicine-story .pullquote .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#uc-davis-integrative-medicine-story .pullquote .right .left {
    border: none
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookMembers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookMembers .left {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    font-size: 4em
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookMembers .right {
    -webkit-box-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
    font-size: 2em
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookLikes .left {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    font-size: 4em
}

#uc-davis-integrative-medicine-story .pullquote .right .facebookLikes .right {
    -webkit-box-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
    font-size: 2em
}

body.stories-uc-davis-health-system .page-title {
    top: auto;
    bottom: 25%
}

body.stories-uc-davis-health-system .page-title h1 {
    text-align: left;
    color: #fec325;
    text-transform: capitalize;
    width: 50%
}

#uc-davis-health-system-story .featured-project {
    border-top: 10px solid #eeba0b;
    color: #fff;
    background: #003869;
    overflow: hidden
}

#uc-davis-health-system-story .feat-image {
    margin-bottom: -100px
}

#uc-davis-health-system-story .pullquote {
    background: #007fb1
}

#uc-davis-health-system-story #photo-frame {
    border-bottom: 2px solid #ffc907
}

#visit-california-story .featured-project {
    background-color: #082740;
    overflow: hidden
}

#visit-california-story .featured-project h2 {
    color: #cbd652
}

#visit-california-story .featured-project p {
    color: #fff
}

#visit-california-story .pullquote {
    color: #082740;
    background-color: #d8e8a7
}

#visit-california-story .more-projects {
    border-bottom: 1px solid #cbd652
}

#portfolio {
    position: relative;
    background-color: #edece8
}

.portfolio-filter {
    padding: 20px;
    background-color: #dcdad3;
    text-align: center
}

.portfolio-filter .label {
    color: #998c7e;
    font-size: 1.4rem
}

.portfolio-filter button {
    font-family: Lato, sans-serif;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-size: 1.6rem;
    color: #49433c;
    text-shadow: none;
    padding: 8px 12px;
    margin: 3px;
    border-radius: 4px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.portfolio-filter button:hover {
    background-color: #fff
}

.portfolio-filter button.active {
    background-color: #249ea2;
    color: #fff
}

.portfolio-filter .filter-button-group {
    display: inline-block
}

article.portfolio.tile {
    background: #fff;
    padding: 0;
    box-shadow: 0 1px 1px rgba(73, 67, 60, .1);
    width: 200px;
    margin: 0 0 20px
}

article.portfolio.tile img {
    display: block
}

article.portfolio.tile h1 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.1;
    color: #49433c;
    margin: 6px 6px 4px
}

article.portfolio.tile p {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.1;
    margin: 0 6px 6px;
    color: #998c7e
}

.portfolio-list {
    list-style: none;
    margin: 0 auto;
    padding: 0
}

.portfolio-list li {
    display: block;
    float: left;
    padding: 14px;
    width: 50%
}

.portfolio-list li a, .portfolio-list li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%
}

.no-cssanimations .portfolio-list li, .no-js .portfolio-list li, .portfolio-list li.shown {
    opacity: 1
}

.portfolio-list li .animate {
    -webkit-animation: h .65s ease forwards;
    animation: h .65s ease forwards
}

#project-frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#project-frame .close-work {
    position: absolute;
    right: 1%;
    top: 50px;
    cursor: pointer
}

#project-frame .close-icon {
    width: 40px;
    height: 40px;
    opacity: .5;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

#project-frame .close-icon:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.portfolio-item {
    position: relative;
    overflow: hidden
}

.portfolio-item .description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(49, 44, 39, .8);
    margin: 12px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.portfolio-item .description .details {
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity .75s ease;
    transition: opacity .75s ease;
    padding: 10px
}

.portfolio-item .description h2 {
    font-family: Lato, sans-serif;
    color: #fdc830;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 500;
    border-bottom: none
}

.portfolio-item .description p {
    font-size: 1.2rem;
    color: #fff
}

.portfolio-item a:hover .description, .portfolio-item a:hover .description .details {
    opacity: 1
}

.photo-tabber {
    text-align: center;
    position: relative;
    width: 100%
}

.photo-tabber .photo-frame {
    overflow: hidden;
    position: relative
}

.photo-tabber .photo-frame .spacer {
    padding-top: 70%
}

.photo-tabber .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0, 100%, 0) scale(.2);
    transform: translate3d(0, 100%, 0) scale(.2);
    opacity: 0;
    -webkit-transition: all .24s linear;
    transition: all .24s linear
}

.photo-tabber .panel.active {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

.photo-tabber h2 {
    border-bottom: none
}

.photo-tabber ul {
    border-top: 1px solid #49433c;
    padding-top: 20px;
    margin: 0 0 30px
}

.photo-tabber li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px
}

.photo-tabber li img {
    width: 40px
}

.the-work {
    background-color: #2f2a25;
    background-image: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, .01) 50%, #000 150%);
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, .01) 50%, #000 150%);
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 140px
}

.the-work h1 {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #998c7e;
    border-bottom: 1px solid #e46d37;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 4px
}

.the-work h2 {
    color: #fff;
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1;
    text-transform: none;
    border-bottom: none
}

.the-work p {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #edece8
}

.the-work .project-info {
    padding: 12px
}

.the-work.prev {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.the-work.next {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.the-work .work-frame {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%
}

.the-work .work-frame.active {
    -webkit-transform: translateX(0, 0);
    transform: translateX(0, 0);
    opacity: 1
}

.the-work .work-frame.exitLeft {
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%)
}

.the-work .work-frame.exitRight {
    -webkit-transform: translateX(110%);
    transform: translateX(110%)
}

.nav-icon {
    width: 50px;
    height: 50px;
    opacity: .3
}

.nav-icon, .port-nav .helper {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.port-nav .helper {
    width: 200px;
    overflow: hidden;
    background-color: #e46d37;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) scale(0);
    transform: translate3d(-100%, 0, 0) scale(0)
}

.port-nav .helper strong {
    display: inline-block;
    padding: 4px
}

.port-nav:hover .helper {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    opacity: 1
}

.port-nav:hover .nav-icon {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.nav-previous {
    position: absolute;
    bottom: 60px;
    left: 33%
}

.nav-previous .helper {
    -webkit-transform: translate3d(-50%, 0, 0) scale(0);
    transform: translate3d(-50%, 0, 0) scale(0)
}

.nav-next {
    position: absolute;
    bottom: 60px;
    right: 33%
}

.nav-next .helper {
    -webkit-transform: translate3d(50%, 0, 0) scale(0);
    transform: translate3d(50%, 0, 0) scale(0)
}

.video-icon {
    width: 100px;
    height: 75px
}

.home-intro {
    background-color: #2f2a25
}

.greeting {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, .01) 50%, #000 150%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .01) 50%, #000 150%)
}

.greeting h1 {
    display: inline-block;
    color: #edece8;
    width: auto;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 20px auto
}

.greeting h2 {
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 6rem;
    color: #edece8;
    margin-bottom: 20px;
    line-height: 1
}

.greeting h2 small {
    display: block;
    position: relative;
    left: -20px;
    font-size: 3rem;
    margin-bottom: 0
}

.greeting p {
    color: #edece8;
    text-align: left
}

.highlights {
    width: 100%;
    *zoom: 1
}

.highlights:after, .highlights:before {
    content: "";
    display: table
}

.highlights:after {
    clear: both
}

.highlights nav {
    display: none
}

.slide {
    width: 33.333%;
    height: 120px;
    float: left;
    background-size: cover
}

.slide .slide-info {
    display: none
}

.featured {
    margin: 0
}

.featured .portfolio-item {
    display: inline-block;
    margin: 20px 2%;
    vertical-align: middle
}

.featured .portfolio-item img {
    display: block
}

.featured .portfolio-item .description {
    margin: 0
}

.home-slice {
    padding: 30px 0
}

.home-slice .container, .home-slice h2 {
    text-align: center
}

.home-slice h2 {
    width: auto;
    margin: 10px auto;
    display: inline-block
}

.home-slice p {
    font-size: 1.4rem;
    color: #998c7e;
    font-weight: 300
}

.home-slice.tan {
    background-color: #edece8
}

.inside-pd, .instagram {
    text-align: center
}

.instagram {
    padding: 60px 0
}

.photo-strip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom: 30px
}

.photo-strip .photo {
    margin: 4px
}

.photo-strip .photo:first-child {
    margin-left: -40px
}

.photo-strip .photo:last-child {
    margin-right: -40px
}

.instaslide {
    margin: 4px
}

.instaslide:first-child {
    margin-left: -40px
}

.instaslide:last-child {
    margin-right: -40px
}

ul.specialties {
    margin: 0
}

ul.specialties li {
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    width: 28%;
    margin: 15px 2%
}

ul.specialties li img {
    display: block;
    margin-bottom: -20px
}

.greeting.latest-news {
    text-align: left;
    padding: 20px 10px
}

.greeting.latest-news h1 {
    margin-bottom: 20px
}

.greeting.latest-news h2 {
    font-size: 3.2rem
}

.greeting.latest-news h2 a {
    color: #fff
}

.greeting.latest-news h2 a:hover {
    color: #e46d37
}

.greeting.latest-news .button {
    color: #fff
}

#news-list .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.news-tile {
    background-color: #fff;
    margin: 0 0 40px
}

.news-tile .news-detail {
    padding: 20px;
    text-align: left
}

.news-tile .news-detail h3 {
    font-size: 1rem;
    border-bottom: 1px solid #e46d37;
    display: inline-block;
    color: #49433c
}

.news-tile .news-detail h2 {
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 2.4rem;
    text-align: left;
    padding-right: 40px;
    line-height: 1.1;
    display: block
}

.news-tile .news-detail h2 a {
    color: #e46d37
}

.news-tile .news-detail p {
    font-size: 1.4rem
}

.news-tile .news-detail .read-more {
    color: #e46d37;
    display: block
}

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 25, 22, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding-top: 30px;
    box-sizing: border-box
}

.lightbox img {
    display: block;
    margin: auto
}

.lightbox.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 4
}

.lightbox .close-work {
    position: absolute;
    right: 1%;
    top: 150px;
    cursor: pointer
}

.lightbox .close-icon {
    color: #fff;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 5%;
    right: 5%
}

.lightbox .close-icon:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.lightbox-open {
    overflow: hidden
}

.news-hero {
    background-position: top;
    background-size: cover;
    min-height: 230px
}

.news-single {
    *zoom: 1
}

.news-single h1 {
    font-family: chaparral-pro-display, Georgia, serif;
    color: #e46d37;
    text-transform: none;
    font-weight: 300;
    line-height: 1.1;
    border-bottom: none;
    letter-spacing: 0;
    display: block;
    font-size: 4.8rem
}

.news-single:after, .news-single:before {
    content: "";
    display: table
}

.news-single:after {
    clear: both
}

.news-single .article-content {
    padding: 60px 0;
    display: inline;
    float: left;
    width: 64.58333333%;
    margin: 0 1.04166667%;
    margin-left: 17.70833333%
}

.more-news h1 {
    text-align: center
}

#one2one .container {
    padding-top: 60px;
    /*background: url(../../_images/city-bg.svg) no-repeat bottom;*/
    background-size: 140%;
    margin-bottom: 0
}

#one2one h1 {
    font-family: chaparral-pro-display, Georgia, serif;
    color: #e46d37;
    text-transform: none;
    font-weight: 300;
    line-height: 1.1;
    border-bottom: none;
    letter-spacing: 0;
    display: block;
    font-size: 4.4rem;
    text-align: center
}

#one2one p {
    color: #49433c;
    font-size: 1.3rem;
    margin: 0 40px 40px
}

#one2one .communication {
    position: relative;
    margin: 0 10px;
    padding-bottom: 35%
}

#one2one .bg, #one2one .bubbles, #one2one .people {
    position: absolute;
    width: 100%
}

#one2one .left-bubble {
    position: absolute;
    width: 10%;
    left: 0;
    margin-top: 5%;
    -webkit-animation: b 10s linear 0s infinite both;
    animation: b 10s linear 0s infinite both
}

#one2one .right-bubble {
    position: absolute;
    width: 10%;
    right: 0;
    margin-top: 5%;
    -webkit-animation: b 10s linear 5s infinite both;
    animation: b 10s linear 5s infinite both
}

#one2one .dot {
    position: absolute;
    width: 100%;
    padding-top: 19%
}

#one2one .dot:after, #one2one .dot:before {
    content: "";
    display: table
}

#one2one .dot:after {
    clear: both
}

#one2one .dot svg {
    width: 2.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: a 5s ease-in-out infinite alternate;
    animation: a 5s ease-in-out infinite alternate;
    position: absolute
}

@-webkit-keyframes a {
    0% {
        left: 17%;
        top: 57%
    }
    20% {
        top: 64%
    }
    35% {
        top: 50%
    }
    46% {
        top: 64%
    }
    54% {
        top: 50%
    }
    65% {
        top: 64%
    }
    80% {
        top: 50%
    }
    to {
        left: 83%;
        top: 57%
    }
}

@keyframes a {
    0% {
        left: 17%;
        top: 57%
    }
    20% {
        top: 64%
    }
    35% {
        top: 50%
    }
    46% {
        top: 64%
    }
    54% {
        top: 50%
    }
    65% {
        top: 64%
    }
    80% {
        top: 50%
    }
    to {
        left: 83%;
        top: 57%
    }
}

@-webkit-keyframes b {
    1%, 9% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    2%, 8% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    0%, 10%, to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes b {
    1%, 9% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    2%, 8% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    0%, 10%, to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

#team {
    text-align: center
}

#team > h2 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #2f2a25;
    padding-bottom: 4px;
    border-bottom: 1px solid #e46d37;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2rem;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.7rem
}

.staff {
    text-align: center;
    max-width: 1240px;
    margin: 0 auto
}

.staff img {
    max-width: 100%
}

.staff li {
    opacity: .8;
    margin: 5px;
    max-width: 140px
}

.staff li, .staff li a {
    display: inline-block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.staff li a {
    vertical-align: top;
    border: 6px solid transparent
}

.staff li.active {
    height: 820px
}

.staff li.active a {
    border-color: #998c7e;
    position: relative
}

.staff li.active a:after {
    width: 30px;
    height: 30px;
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -10px;
    background-color: #249ea2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.staff li.active img.staff-nav {
    display: block
}

.staff li.active .staff-expanded {
    height: 600px
}

.staff li.active, .staff li:hover {
    opacity: 1
}

.staff-details {
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    color: #fff
}

.active .staff-details {
    opacity: 1
}

.staff-details h1 {
    font-family: chaparral-pro-display, Georgia, serif;
    font-weight: 300;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: 0;
    display: block;
    text-transform: none;
    border-bottom: none;
    letter-spacing: 0;
    line-height: 1
}

.staff-details h2 {
    border-bottom: none;
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    color: #f8f0e6;
    margin-top: 0;
    text-transform: uppercase;
    text-align: left
}

.staff-details p {
    color: #fff
}

.staff-item {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%
}

.staff-expanded {
    position: absolute;
    background-color: #249ea2;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    height: 0;
    overflow: hidden
}

.staff-expanded .container {
    padding: 16px 100px 16px 16px;
    *zoom: 1;
    position: static
}

.staff-expanded .container:after, .staff-expanded .container:before {
    content: "";
    display: table
}

.staff-expanded .container:after {
    clear: both
}

.personal-item {
    position: absolute;
    bottom: -20px;
    right: 4%;
    width: 100px
}

#history {
    padding: 80px 0 0
}

#history .container {
    /*background: url(../../_images/history.svg) no-repeat bottom;*/
    background-size: 100%
}

#history .history-text {
    margin: 0 16px;
    padding-bottom: 55%
}

section.page.contact {
    background-color: #fff
}

.two-column {
    padding: 40px 0;
    *zoom: 1
}

.two-column:after, .two-column:before {
    content: "";
    display: table
}

.two-column:after {
    clear: both
}

#map-frame {
    height: 500px;
    width: 100%
}

.gm-style-iw * {
    display: block;
    width: 100%
}

.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0
}

.gm-style-iw a {
    color: #4272db
}

.gform_body ul {
    margin: 0;
    padding: 0
}

.gform_body li {
    list-style: none;
    margin-bottom: 12px
}

.gform_body input[type=email], .gform_body input[type=text], .gform_body textarea {
    width: 100%;
    padding: 14px;
    font-family: Lato, sans-serif
}

#field_1_5 {
    display: none
}

::-webkit-input-placeholder {
    text-transform: uppercase
}

:-moz-placeholder, ::-moz-placeholder {
    text-transform: uppercase
}

:-ms-input-placeholder {
    text-transform: uppercase
}

.gform_wrapper .top_label .gfield_label {
    display: none !important
}

.highlights .navOutNext {
    opacity: 1;
    -webkit-animation: c .7s forwards ease-in-out;
    animation: c .7s forwards ease-in-out
}

.highlights .navInNext {
    opacity: 1;
    -webkit-animation: d .7s forwards ease-in-out;
    animation: d .7s forwards ease-in-out
}

.highlights .navOutPrev {
    opacity: 1;
    -webkit-animation: e .7s forwards ease-in-out;
    animation: e .7s forwards ease-in-out
}

.highlights .navInPrev {
    opacity: 1;
    z-index: 5;
    -webkit-animation: f .7s forwards ease-in-out;
    animation: f .7s forwards ease-in-out
}

@-webkit-keyframes c {
    to {
        -webkit-transform: translateY(100%)
    }
}

@keyframes c {
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

@-webkit-keyframes d {
    0% {
        -webkit-transform: translateY(-50%)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes d {
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes e {
    to {
        -webkit-transform: translateY(-50%)
    }
}

@keyframes e {
    to {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@-webkit-keyframes f {
    0% {
        -webkit-transform: translateY(100%)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes f {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes g {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes g {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.bounceInUp {
    -webkit-animation-name: g;
    animation-name: g
}

.pow {
    -webkit-animation: g .5s .4s forwards ease-out;
    animation: g .5s .4s forwards ease-out
}

@-webkit-keyframes h {
    to {
        opacity: 1
    }
}

@keyframes h {
    to {
        opacity: 1
    }
}

#colophon {
    background-color: #2f2a25;
    *zoom: 1;
    clear: both;
    padding: 35px 18px
}

#colophon:after, #colophon:before {
    content: "";
    display: table
}

#colophon:after {
    clear: both
}

#colophon .circle-logo {
    margin-top: -64px;
    display: block
}

#colophon .our-name {
    margin: 5px 56px
}

#colophon .site-info {
    color: #998c7e
}

#colophon .site-info p {
    color: #998c7e;
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 0
}

#colophon .contact-info {
    margin-left: 52px
}

#colophon .contact-info p {
    font-size: 1.2rem
}

#colophon .contact-info .phone {
    display: block
}

#colophon .contact-info .button {
    margin: 20px 0
}

#four-o-four {
    position: relative;
    width: 100%
}

#four-o-four .text-block {
    text-align: left;
    padding: 20px;
    background-color: #fff
}

#four-o-four .text-block h1 {
    font-size: 1.6rem
}

#four-o-four .text-block h2 {
    display: block;
    text-align: left
}

#four-o-four .empty-head {
    display: block
}

#four-o-four .choices {
    margin: 0;
    padding: 0
}

#four-o-four .choices li {
    color: #998c7e;
    list-style: circle;
    margin: 0 2rem 1rem
}

#myProgress {
    position: relative;
    width: 100%;
    height: 10px
}

#myBar {
    width: 0;
    height: 0;
    background-color: #cc4f18;
    z-index: 10;
    position: absolute;
    top: 0;
    -webkit-transition: 1s linear ease;
    transition: 1s linear ease
}

@media screen and (max-width: 600px) {
    .main-navigation.toggled .nav-menu, .menu-toggle {
        display: block
    }

    .main-navigation ul {
        display: none
    }
}

@media only screen and (min-width: 601px) {
    #red-rover-story .featured-project .feat-image {
        margin-bottom: -100px
    }

    #red-rover-story .featured-project .feat-desc {
        padding-top: 80px
    }

    #uc-davis-integrative-medicine-story .hero-text h2, #uc-davis-integrative-medicine-story .hero-text p {
        color: #000;
        text-shadow: none
    }

    #uc-davis-integrative-medicine-story .featured-project {
        /*background: #00509d url(../../_images/ucdim/ucdim-story-section2.png) top;*/
        background-size: cover;
        color: #fff
    }

    #uc-davis-integrative-medicine-story .featured-project .feat-image {
        float: right
    }

    #visit-california-story .featured-project .feat-image {
        margin-bottom: -100px
    }

    #visit-california-story .featured-project .feat-desc {
        padding-top: 80px
    }

    .mobile-only {
        display: none
    }

    .container {
        width: 96%;
        max-width: 1400px
    }

    #primary {
        float: left;
        width: 64.58333333%;
        float: right
    }

    #primary, #secondary {
        display: inline;
        margin: 0 1.04166667%;
        -ms-word-wrap: break-word;
        word-wrap: break-word
    }

    #secondary {
        width: 22.91666667%;
        float: left
    }

    h1 {
        font-size: 1.8rem
    }

    p {
        font-size: 1.6rem
    }

    #masthead {
        zoom: 1
    }

    #masthead:after, #masthead:before {
        content: "";
        display: table
    }

    #masthead:after {
        clear: both
    }

    .site-title {
        float: left
    }

    #site-navigation {
        float: right
    }

    #main-nav {
        zoom: 1
    }

    #main-nav:after, #main-nav:before {
        content: "";
        display: table
    }

    #main-nav:after {
        clear: both
    }

    #main-nav li {
        font-size: 1.6rem;
        margin-right: 20px;
        display: inline-block;
        border-top: 5px solid #fff;
        padding-top: 15px;
        padding-bottom: 6px
    }

    #main-nav li:hover {
        border-top-color: #e46d37
    }

    #main-nav li a:hover {
        color: #e46d37
    }

    #main-nav li.current-menu-item {
        border-top-color: #249ea2
    }

    #menu-toggle {
        width: 100px;
        height: 100px;
        padding: 0;
        background-color: #e46d37;
        position: absolute;
        left: 0;
        top: 0
    }

    #menu-toggle svg {
        margin: 30px
    }

    .no-svg #menu-toggle {
        /*background: #e46d37 url(_images/list.png) no-repeat 50% 50%*/
    }

    .page-intro {
        background-color: #2f2a25;
        text-align: center;
        padding: 20px 0
    }

    .page-intro h1 {
        font-size: 17px;
        font-size: 1.7rem;
        display: inline-block;
        width: auto;
        margin: 80px auto 20px
    }

    .page-intro h1, .page-intro h2 {
        color: #edece8;
        line-height: 1
    }

    .page-intro h2 {
        font-family: chaparral-pro-display, Georgia, serif;
        font-weight: 300;
        font-size: 8rem;
        margin-bottom: 40px
    }

    .page-intro p {
        font-size: 1.6rem;
        max-width: 500px;
        margin: 20px auto
    }

    .story-excerpt {
        width: 33.33333%
    }

    .story-excerpt a h2 {
        font-size: 12px;
        font-size: 1.2rem
    }

    .featured-project, .intro, .pullquote {
        zoom: 1
    }

    .featured-project:after, .featured-project:before, .intro:after, .intro:before, .pullquote:after, .pullquote:before {
        content: "";
        display: table
    }

    .featured-project:after, .intro:after, .pullquote:after {
        clear: both
    }

    .intro-img {
        width: 39.58333333%
    }

    .intro-img, .story {
        display: inline;
        float: left;
        margin: 0 1.04166667%
    }

    .story {
        width: 47.91666667%
    }

    .feat-image {
        width: 56.25%;
        text-align: center
    }

    .feat-desc, .feat-image {
        display: inline;
        float: left;
        margin: 0 1.04166667%
    }

    .feat-desc {
        width: 39.58333333%;
        padding-top: 40px
    }

    .hero {
        background-position: top;
        background-size: cover
    }

    .hero-text {
        width: 50%;
        padding: 10px 20px;
        text-align: left;
        margin: 60px 0
    }

    .hero-text img.client-logo {
        position: static
    }

    .hero-text p {
        font-size: 1.6rem
    }

    .hero-text h2, .hero-text p {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .6)
    }

    .hero-text h2 {
        font-size: 4rem;
        margin-top: 0
    }

    .pullquote {
        padding: 40px 0
    }

    .pullquote blockquote {
        font-size: 3rem
    }

    .pullquote .content {
        display: inline;
        float: left;
        width: 64.58333333%;
        margin: 0 1.04166667%;
        margin-left: 17.70833333%
    }

    .photo-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
        text-align: center;
        margin-bottom: 6px;
        color: #998c7e
    }

    .other-stories {
        padding: 0
    }

    .other-stories article.tile {
        width: 10%
    }

    .portfolio-list li {
        width: 33%
    }

    .the-work {
        height: 90vh;
        overflow-y: scroll;
        padding-bottom: 0
    }

    .the-work .work-frame {
        padding: 40px 80px
    }

    .photo-tabber, .the-work .project-info {
        width: 100%
    }

    .photo-tabber li img {
        width: 80px
    }

    .photo-tabber {
        position: relative
    }

    .nav-previous {
        left: 1%
    }

    .nav-next, .nav-previous {
        position: absolute;
        top: 48%;
        bottom: auto
    }

    .nav-next {
        right: 1%
    }

    .home-intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0
    }

    .greeting {
        text-align: center;
        padding-bottom: 160px;
        width: 40%;
        margin: 0
    }

    .greeting h1 {
        width: 80%;
        margin: 40px 0
    }

    .greeting h2 {
        margin-top: 20px
    }

    .highlights {
        width: 60%;
        position: relative;
        overflow: hidden;
        background-color: #000
    }

    .highlights nav {
        display: block;
        position: absolute;
        bottom: 32px;
        right: 40px;
        z-index: 4
    }

    .highlights nav .icon {
        width: 40px;
        height: 40px
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        pointer-events: none;
        opacity: 0
    }

    .slide.current {
        opacity: 1
    }

    .slide .slide-info {
        position: absolute;
        bottom: 50px;
        left: 50px;
        right: 25%;
        height: auto;
        color: #edece8;
        display: block;
        pointer-events: all
    }

    .slide .slide-info h1 {
        display: inline-block;
        color: #edece8;
        font-size: 1.2rem;
        margin-bottom: 20px
    }

    .slide .slide-info h2 {
        font-size: 3rem;
        line-height: 1;
        font-family: chaparral-pro-display, Georgia, serif;
        font-weight: 300;
        color: #fff
    }

    .slide .slide-info a {
        color: #fff
    }

    .slide .slide-info p {
        font-size: 1.3rem
    }

    ul.specialties {
        margin: 0
    }

    ul.specialties li {
        font-size: 1.4rem;
        width: 14%
    }

    .greeting.latest-news {
        padding: 20px 60px
    }

    .news-tile {
        width: 320px;
        margin: 0 20px 40px
    }

    #one2one .container {
        padding-top: 90px;
        background-size: 100%
    }

    #one2one h1 {
        font-family: chaparral-pro-display, Georgia, serif;
        color: #e46d37;
        text-transform: none;
        font-weight: 300;
        line-height: 1.1;
        border-bottom: none;
        letter-spacing: 0;
        display: block;
        font-size: 6rem;
        text-align: center
    }

    #one2one p {
        font-size: 1.6rem;
        margin: 0 auto 60px;
        max-width: 500px
    }

    #one2one .communication {
        margin: 0 60px
    }

    .staff li {
        margin: 20px;
        max-width: 200px
    }

    .staff li a {
        border: 10px solid transparent
    }

    .staff li.active {
        height: 820px
    }

    .staff li.active a {
        border-color: #998c7e;
        position: relative
    }

    .staff li.active a:after {
        width: 30px;
        height: 30px;
        content: "";
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -10px;
        background-color: #249ea2;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .staff li.active .staff-expanded {
        height: 600px
    }

    .staff-details {
        display: inline;
        float: left;
        width: 56.25%;
        margin: 0 1.04166667%
    }

    .staff-details h1 {
        font-size: 4.2rem
    }

    .staff-item {
        display: inline;
        float: left;
        width: 31.25%;
        margin: 0 1.04166667%
    }

    .staff-expanded .container {
        padding: 60px
    }

    img.personal-item {
        width: auto;
        display: block;
        max-width: 260px
    }

    #history {
        padding: 60px 0 0
    }

    #history .history-text {
        margin: 0 16%
    }

    #history .history-text p {
        font-size: 1.6rem
    }

    #page-content {
        padding: 60px 0;
        zoom: 1
    }

    #page-content:after, #page-content:before {
        content: "";
        display: table
    }

    #page-content:after {
        clear: both
    }

    .primary {
        width: 39.58333333%
    }

    .primary, .secondary {
        display: inline;
        float: left;
        margin: 0 1.04166667%;
        margin-left: 9.375%;
        text-align: left
    }

    .secondary {
        width: 31.25%
    }

    #four-o-four {
        overflow: hidden
    }

    #four-o-four .text-block {
        background-color: transparent;
        padding-top: 80px;
        width: 50%;
        margin-left: 50%;
        margin-bottom: 20%;
        position: relative
    }

    #four-o-four .empty-head {
        position: absolute;
        left: -10%;
        bottom: 0;
        width: 60%
    }
}

@media only screen and (max-width: 600px) {
    #uc-davis-integrative-medicine-story .pullquote .left {
        text-align: center;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-right: 1px solid #fff
    }

    #uc-davis-integrative-medicine-story .pullquote .left h3 {
        font-size: 4em;
        text-transform: uppercase
    }

    #uc-davis-integrative-medicine-story .pullquote .left p {
        font-size: 2em
    }

    #uc-davis-integrative-medicine-story .pullquote .right {
        text-align: center
    }

    #uc-davis-integrative-medicine-story .pullquote .right .left {
        border: none
    }

    #uc-davis-integrative-medicine-story .pullquote .right .facebookLikes, #uc-davis-integrative-medicine-story .pullquote .right .facebookMembers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #masthead .site-title {
        height: 45px;
        width: 194px
    }

    #masthead.fixed #pdg_logo {
        width: 160px;
        top: -38px
    }

    #masthead.fixed #svg-full-icon {
        opacity: 0
    }

    #masthead.fixed #svg-mobile-icon {
        opacity: 1
    }

    #masthead.fixed #site-navigation {
        height: 0
    }

    #masthead.fixed #site-navigation.active {
        height: 100%
    }

    #site-navigation {
        position: fixed;
        width: 100% !important;
        height: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 6;
        background-color: #e46d37;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease
    }

    #site-navigation ul {
        text-align: center;
        margin-top: 100px
    }

    #site-navigation ul li {
        display: block;
        font-size: 25px;
        font-size: 2.5rem;
        margin: 0 0 20px
    }

    #site-navigation ul li.current-menu-item a {
        color: #fff
    }

    #site-navigation ul li a {
        color: #fff;
        border-bottom: 7px solid transparent !important
    }

    #site-navigation ul li a:hover {
        color: #cc531c
    }

    #site-navigation.active {
        height: 100%;
        opacity: 1
    }

    #menu-trigger {
        position: absolute;
        right: 0;
        top: 5px;
        display: block
    }

    #menu-trigger .icon-menu {
        width: 30px;
        height: 30px;
        fill: #998c7e
    }

    #menu-trigger.active .icon-menu {
        fill: #fff
    }

    .gallery-item {
        width: 100% !important
    }

    .lightbox {
        padding: 20px
    }

    .lightbox img {
        display: block;
        margin: auto;
        max-height: 300px
    }
}

@media only screen and (min-width: 1020px) {
    h1 {
        font-size: 2.2rem
    }

    .site-title {
        margin-top: 22px
    }

    #main-nav {
        zoom: 1
    }

    #main-nav:after, #main-nav:before {
        content: "";
        display: table
    }

    #main-nav:after {
        clear: both
    }

    #main-nav li {
        font-size: 1.8rem;
        border-top: 5px solid transparent;
        padding-top: 24px;
        padding-bottom: 10px
    }

    #main-nav li:hover {
        border-top-color: #e46d37
    }

    .page-intro {
        background-color: #2f2a25;
        text-align: center;
        padding: 20px 0
    }

    .page-intro h1 {
        font-size: 17px;
        font-size: 1.7rem;
        display: inline-block;
        width: auto;
        margin: 80px auto 20px
    }

    .page-intro h1, .page-intro h2 {
        color: #edece8;
        line-height: 1
    }

    .page-intro h2 {
        font-family: chaparral-pro-display, Georgia, serif;
        font-weight: 300;
        font-size: 10.8rem;
        margin-bottom: 40px
    }

    .page-intro p {
        max-width: 500px;
        color: #fff;
        margin: 20px auto;
        text-align: left
    }

    .hero {
        background-position: 100% 0;
        background-size: cover;
        margin: 0;
        overflow: hidden
    }

    .hero-text {
        width: 50%;
        padding: 10px 20px;
        text-align: left;
        margin: 60px 0
    }

    .hero-text img {
        width: 180px
    }

    .hero-text h2, .hero-text p {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .6)
    }

    .hero-text h2 {
        font-size: 5.2rem
    }

    .portfolio-list li {
        width: 25%
    }

    .the-work .work-frame {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%
    }

    .the-work .project-info {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 26%;
        margin: auto 60px auto auto;
        max-width: 325px
    }

    .the-work .photo-tabber {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 70%;
        margin: auto auto auto 20px;
        max-width: 980px
    }

    .photo-tabber li {
        margin: 10px
    }

    .photo-tabber li img {
        width: 140px
    }

    .greeting {
        padding-bottom: 140px
    }

    .greeting h1 {
        font-size: 17px;
        font-size: 1.7rem;
        margin: 90px auto 70px
    }

    .greeting h1, .greeting h2 {
        color: #edece8;
        width: auto
    }

    .greeting h2 {
        font-family: chaparral-pro-display, Georgia, serif;
        font-weight: 300;
        font-size: 8.8rem;
        margin-bottom: 40px;
        line-height: 1
    }

    .greeting h2 small {
        display: block;
        position: relative;
        left: -50px;
        font-size: 6rem;
        margin-bottom: 0
    }

    .greeting p {
        color: #edece8;
        max-width: 450px;
        margin: 0 auto 40px
    }

    .greeting.latest-news p {
        margin: 0 0 40px
    }

    .greeting.latest-news h2 {
        font-size: 5rem
    }

    .highlights nav {
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        pointer-events: none;
        opacity: 0
    }

    .slide.current {
        opacity: 1;
        z-index: 4
    }

    .slide .slide-info {
        position: absolute;
        height: auto;
        color: #edece8;
        display: block
    }

    .slide .slide-info h1 {
        display: inline-block;
        color: #edece8;
        font-size: 1.4rem;
        margin-bottom: 20px
    }

    .slide .slide-info h2 {
        font-size: 3.4rem;
        line-height: 1;
        font-family: chaparral-pro-display, Georgia, serif;
        font-weight: 300;
        color: #fff
    }

    .home-slice {
        padding: 50px 0
    }

    .home-slice p {
        font-size: 1.8rem
    }

    ul.specialties {
        margin: 0
    }

    ul.specialties li {
        font-size: 1.8rem
    }

    #one2one h1 {
        font-size: 9rem
    }

    #one2one p {
        margin: 0 auto 60px;
        max-width: 500px
    }

    #one2one .communication {
        position: relative;
        margin: 0 60px;
        padding-bottom: 35%
    }

    #history {
        padding: 80px 0 0
    }

    #history .container {
        /*background: url(../../_images/history.svg) no-repeat bottom;*/
        background-size: 100%
    }

    #history .history-text {
        margin: 0 30px 0 58%;
        padding-bottom: 20%
    }

    img.personal-item {
        max-width: 100%
    }

    .infoWindow ul {
        margin: 0
    }

    .infoWindow ul li {
        margin-bottom: 10px
    }

    #colophon {
        background-color: #2f2a25;
        padding: 35px 48px
    }

    #colophon .contact-info {
        width: auto;
        float: right;
        margin-left: 0
    }

    #colophon .contact-info p {
        font-size: 1.6rem
    }

    #colophon .contact-info .phone {
        display: inline
    }

    #colophon .contact-info .button {
        margin: 0 0 0 20px
    }

    #four-o-four {
        height: 100vh
    }

    #four-o-four .text-block {
        padding-top: 80px;
        width: 45%;
        margin-left: 48%;
        margin-bottom: 20%
    }

    #four-o-four .empty-head {
        position: absolute;
        left: -5%;
        bottom: 0;
        width: 60%
    }
}