.portfolio-list {
	column-count: 4;
    column-gap: 2em;
    padding: 2em 0;
}
.portfolio-list li {
	float: none;
	/*display: inline-block;*/
    margin: 0 0 2em;
    width: 100%;
    padding: 0;
}

.portfolio-list li .description {
	padding: 14px;
	margin: 0;
}

.example-enter > a > img {
  /*opacity: 0.01;*/
  /*width: 0%;*/
  /*scale: 0.1;*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: scaleDown 0.65s ease-in-out forwards;
  animation: scaleDown 0.65s ease-in-out forwards;
}

.example-enter.example-enter-active > a > img {
  /*opacity: 1;*/
  /*width: 100%;*/
  /*scale: 1;*/
  /*transition: 700ms;*/
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: scaleUp 0.65s ease-in-out forwards;
  animation: scaleUp 0.65s ease-in-out forwards;
}

.example-leave > a > img {
  /*opacity: 1;*/
  /*width: 100%;*/
  /*scale: 1;*/
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: scaleUp 0.65s ease-in-out forwards;
  animation: scaleUp 0.65s ease-in-out forwards;
}

.example-leave.example-leave-active > a > img {
  /*opacity: 0.01;*/
  /*width: 0%;*/
  /*scale: 0.1;*/
  /*transition: 700ms;*/
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: scaleDown 0.65s ease-in-out forwards;
  animation: scaleDown 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@-webkit-keyframes scaleDown {
	0% { -webkit-transform: scale(0.01); opacity: 0.01; }
	100% { }
}

@keyframes scaleDown {
	0% { -webkit-transform: scale(0.01); transform: scale(0.01); opacity: 0.01; }
	100% { }
}